@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

nav {
  background: black;
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  color: white;
  padding: 20px 30px;
}
main {
  margin-top: 58px;
}

.paginaActiva {
  border-bottom: 1px solid white;
}
.banner {
  background: rgb(95, 188, 255);
  color: white;
  padding: 45px 0px;
  text-align: center;
}

.contenedor {
  margin: 30px;
}
footer {
  background: black;
  text-align: center;
  color: white;
  padding: 20px 0px;
}
#centrarImagen {
  text-align: center;
}

p {
  padding: 10px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 12px 0px;
}

/* position */
.contenedorPrincipal {
  border: 2px solid red;
  position: relative;
}

.caja {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

#cajaAzul {
  background: rgb(46, 144, 255);
  position: relative;
  top: 150px;
  left: 50px;
  z-index: -1;
}

#cajaAmarilla {
  background: rgb(228, 232, 97);
  position: absolute;
  top: 0px;
}

#cajaRoja {
  background: rgb(237, 67, 98);
  position: fixed;
  bottom: 100px;
  right: 30px;
}

#parrafoSticky {
  background: rgb(228, 232, 97);
  position: sticky;
  top: 70px;
  z-index: -1;
}

/* Elementos */

.margenGeneral {
  margin: 30px;
}

/* Practica de Flexbox */

.contenedorFlexible {
  display: flex;
  border: 1px solid rgb(237, 67, 98);
}

.contenedorFlexible aside {
  border: 1px solid blue;
  color: white;
  background: rgb(17, 92, 108);
  background: linear-gradient(
    148deg,
    rgba(17, 92, 108, 1) 0%,
    rgba(15, 115, 119, 1) 36%,
    rgba(194, 19, 171, 1) 100%
  );
}

hr {
  margin-bottom: 10px;
}

.contenedorFlexible-wrap {
  display: flex;
  border: 1px solid rgb(237, 67, 98);
  flex-wrap: wrap;
  justify-content: space-around;
}

.contenedorFlexible-wrap aside {
  color: white;
  background: rgb(17, 92, 108);
  background: linear-gradient(
    148deg,
    rgba(17, 92, 108, 1) 0%,
    rgba(15, 115, 119, 1) 36%,
    rgba(194, 19, 171, 1) 100%
  );
  width: 45%;
}

.contenedorFlexible-vertical {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid yellowgreen;
  height: 600px;
  justify-content: center;
  align-content: center;
}
.contenedorFlexible-vertical aside {
  color: white;
  background: rgb(17, 92, 108);
  background: linear-gradient(
    148deg,
    rgba(17, 92, 108, 1) 0%,
    rgba(15, 115, 119, 1) 36%,
    rgba(194, 19, 171, 1) 100%
  );
  width: 30%;
}

/* Media queries */
/* 
@media tipo de medio (screen, print, speech, all) and (condicion){
  aquí agregaría todo el estilo que quiero corregir
}
*/

/* Dispositivos small */

@media all and (max-width: 767px) {
  #centrarImagen img {
    width: 100%;
  }

  .contenedorFlexible{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* dispositivos medium */
@media all and (min-width: 768px) and (max-width: 991px) {
  #centrarImagen img {
    width: 100%;
  }
  .contenedorFlexible aside{
    width: 30%;
    flex-wrap: wrap;
  }
}
